extends layout

block content
  img(src='images/logo_white.svg' width='100' height='auto' id='logo')
  div(class='container')
    div(id='map_container')
    div(id="map")
    div(id='traffic_light_info')
      b Traffic light #EBADFG
      p #[i Elizastraat 35, 1044 Elsene]